a:link, a:visited {
    color: #fcba03;
    text-decoration: none;
    <!-- font-family: monospace; -->
    font-family: Frank Ruhl Libre, serif;
}
a:hover: {
    color: #fcba03;
    text-decoration: underline;
    font-family: Frank Ruhl Libre, serif;
}
.center {
    margin: auto;
    font-size: 1em;
    float: center;
    width: 60%;
    padding: 15px;
    background-color: #1d1e1f;
}
.center h1, h2, h3 {
    font-family: 'Segoe UI', sans-serif;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}
.datestamp {
    font-size: 0.9em;
    font-style: italic;
    font-family: Frank Ruhl Libre, serif;
}
.datetitle {
    font-size: 1em;
    font-style: italic;
    font-family: Frank Ruhl Libre, serif;
    margin-top: 0px;
}
img, video {
    width: 90%;
    max-width: 100%;
    height: auto;
}
figcaption {
    font-size: 0.8em;
    font-style: italic;
    font-family: monospace;
    color: #7575a3;
}
p, ul, ol {
    font-size: 1em;
    font-family: Frank Ruhl Libre, serif;
}
@media only screen and (max-width: 800px) {
    .center {
        width: 100%;
    }
}
