a:link, a:visited {
    color: #fcba03;
    text-decoration: none;
    <!-- font-family: monospace; -->
    font-family: Frank Ruhl Libre, serif;
}
a:hover: {
    color: #fcba03;
    text-decoration: underline;
    font-family: Frank Ruhl Libre, serif;
}
body {
    background-color: #171614;
}
.center {
    margin: auto;
    font-size: 1em;
    float: center;
    width: 60%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #1d1e1f;
}
.center h1, h2, h3 {
    font-family: 'Segoe UI', sans-serif;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}
.datestamp {
    font-size: 0.9em;
    font-style: italic;
    font-family: Frank Ruhl Libre, serif;
}
.datetitle {
    font-size: 1em;
    font-style: italic;
    font-family: Frank Ruhl Libre, serif;
    margin-top: 0px;
}
table {
    align: center;
    float: center;
    min-width: 70%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border: 2px solid;
    font-size: 1em;
    border-collapse: collapse;
    border-color: #3a3a3a;
    font-family: monospace;
}
pre {
    border-color: #3a3a3a;
    border: 1px solid;
    line-height: 1.1em;
    background-color: #171614;
    padding: 15px 8px 15px 10px;
    max-width: 100%;
    overflow-x: auto;
}
.even {
    background-color: #171717;
}
.odd {
    background-color: #232323;
}
.header {
    background-color: #010101;
}
img, video {
    width: 90%;
    max-width: 100%;
    height: auto;
}
figcaption {
    font-size: 0.8em;
    font-style: italic;
    font-family: monospace;
    color: #7575a3;
}
p, ul, ol {
    font-size: 1em;
    font-family: Frank Ruhl Libre, serif;
}
@media only screen and (max-width: 800px) {
    .center {
        width: 100%;
    }
}
