{% extends "base.html" %}
{% block content %}
<h2>About</h2>
<br>
<img src="{{url_for('static', filename='blair.jpg')}}"  style="height: 300px; width:
auto;" alt="Beard included only with
premium subscription.">
<p class="entry">
	I am a software engineer with nearly a decade of specialized experience
	in mechanical and aerospace engineering.
</p><p class="entry">
	I received a bachelor's degree in mechanical engineering from Cal Poly
	San Luis Obispo, and worked for more than 10 years at NASA's Jet Propulsion
	Laboratory. Career highlights include installing the solid rocket motor on the
	flying saucer and drilling holes on Mars.
</p><p class="entry">
	My life aspirations are being a dad, living in the woods, owning multiple dogs, and drinking coffee while listening to the rain.
</p>
{% endblock %}
