<html>
    <head>
        <title>Datum-B</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
        a:link, a:visited {
            color: #fcba03;
            text-decoration: none;
            font-family: monospace;
        }
        a:hover: {
            color: #fcba03;
            text-decoration: underline;
            font-family: monospace;
        }
        .center {
            margin: auto;
            font-size: 1em;
            float: center;
            width: 60%;
            padding: 4px;
        }
        h1, h2: {
            font-size: 2.5em;
            font-family: Arial, Helvetica, sans-serif;
        }
        .datestamp {
            font-size: 0.9em;
            font-style: italic;
            font-family: serif;
        }
        .entry {
            font-size: 1em;
            font-family: Segoe UI, Arial, Helvetica, sans-serif;
        }
        @media only screen and (max-width: 800px) {
            .center {
                width: 100%;
            }
        }
        </style>
    </head>

    <body bgcolor="#171614" text="white">
    <div class="center">
        <img src="dblogo.png" width="80%" max-width="50%" height="auto" alt-text="Made with PowerPoint">
        <h1 class="entry_title">Time to Dual-Class</h1>
        <p class="datestamp">July 25th, 2022</p>
        <p class="entry">I've been a mechanical engineer for nearly a decade, and it's time to branch out. My near-term focus is to branch my career towards software engineering while continuing to leverage my mechanical engineering skillset. In this post I'll explore my discontent with my current employment, which stems from geographic requirements, lack of desirable upward mobility, and knowledge-management practices that could use improvement.
<p class="entry">
I make the bold claim in the title as someone who thinks that they've had it pretty damn good as far as mechanical engineering goes. I work on cool projects that I can talk to the public about, and which help to improve knowledge about our planet and our place in the universe. I work with some truly awesome people, I have a lot of autonomy, and my compensation is stellar if I ignore the real-estate market.
<p class="entry">
Furthermore, I work in an organization that allows lateral movement, and my boss understands that I may not want to stay in my current role and discipline forever. My boss is so great that when I tell him, "I don't want to re-roll my character; I want to dual class," he fully gets the deeper meaning of my Dungeons & Dragons reference. For those who don't, what I mean is that I don't want to just quit mechanical and start over with software. I want to leverage my existing skillset while adding on a new set of skills that I'm increasingly passionate about.
<p class="entry">
So why be so critical of my own professions? A few admittedly subjective but nonetheless important reasons:
<p class="entry">
First, you have to be there to be good at it. The products that mechanical engineers make are physical, and if you want to be an effective leader in any endeavor you have to be able to put yourself in the thick of it. And if the thing you're making is physical, then you have to be in the place where the physical thing is being made. Yes, I've had some success working remotely duing the pandemic. I also work with other mechanical engineers who are both fully remote and effective, although the effective ones tend to be in more managerial-type roles or have more experience than me. Thus, as a mechanical engineer, the bigger question of where to put down roots and raise my family is tainted by the question of "where will there be jobs?" The venn diagram that includes places with plentiful employment, affordable housing, and places we would actually want to live is not looking good.
<p class="entry">
Second, the prospects from here are not great. If I wanted to go into people management, project management, or systems engineering I wouldn't be saying this, as I'm actually in the perfect position to do so. And none of that excites me. Financially, there are some places that pay more, but that comes at a cost: longer commutes, longer hours, and I'm more expendable. No thanks. 
<p class="entry">
Finally, mechanical engineers could be much better at their jobs. Ultimately, mechanical engineering is knowledge work with a physical component. We're just fine at the physical side (most of us), but we kind of suck at managing, documenting, communicating, and keeping track of our knowledge. Software engineers seem to have advanced version control systems, clear means of delegating work, clear standards for documentation, clear success criteria for their tasks, and are highly skilled at automating away the repetitive work. We mechanical engineers are still stuck with 7 versions of the same PowerPoint package on our hard drives, and Excel sheets with nebulous formulas that are a headache to audit. Not to mention trying to discern what changed between versions of a PDF engineering drawing, and don't even ask about version control in CAD.
<p class="entry">
Yes, I'm hard on us, and I say this because I want us to do better. Our work relies heavily on computation, and quality hardware is as much the result of good software and knowledge management as it is physical craftmanship. 

<p class="entry">I'm going in on the bet that I can be happier, better compensated, more effective, and more independent in my career by combining software skills with my existing mechanical engineering skillset. This blog serves as a record of my thoughts, progress, ideas, projects, struggles, and lessons learned along the way. I have no idea if anyone will read this, and I don't have much of a plan to market it. And I've had an itch to write it for months now, so it is written.</p>
        <h2>About</h2>
        <p class="entry">I am a new software engineer with nearly a decade of specialized experience in mechanical engineering. This blog chronicles my journey with coding, agile hardware development, and leadership principles.</p>
        <p><a href="mailto:thoughts@datum-b.com">Contact</a>
        <p><p>© 2022<p style="font-size: .2em">The views expressed here are solely my own and do not reflect those of my employer.</p>
    </div>
    </body>
</html>
